@import './../../styles/base/all.setting';

///body
.bodyPage {
  padding-top: 4rem;
}

.black{
  background-color: black;
}


.domino-nav .nav .nav-item {
  text-align: center;
}

.domino-nav .nav .nav-item .nav-link {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase
}

.domino-nav .nav .nav-item.active,
.domino-nav .nav .nav-item:hover {
  background: #e31837;
  position: relative;
}

.domino-nav .about-nav-controls {
  position: absolute;
  width: 100%;
  z-index: 1
}

.domino-nav .about-nav-controls span {
  position: absolute;
  display: block;
  width: 30px;
  height: 42.4px;
  background: #333;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.domino-nav .about-nav-controls span i {
  color: #999
}

.domino-nav .about-nav-controls span:disabled {
  display: none
}

.domino-nav .about-nav-controls .next {
  right: 0
}


////////////////////

.domino-nav .about-nav-controls {
  position: absolute;
  width: 100%;
  z-index: 1
}

.domino-nav .about-nav-controls span {
  position: absolute;
  display: block;
  width: 30px;
  height: 42.4px;
  background: #333;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.domino-nav .about-nav-controls span i {
  color: #999
}

.domino-nav .about-nav-controls span:disabled {
  display: none
}

.domino-nav .about-nav-controls .next {
  right: 0
}

//////////////////////////////

/////////////////
.nav-slider{
  display: flex;
}
ul.nav.nav-slider {
  padding-top: 0.8rem;
}


///////////////////////////

@media (max-width:992px) {
  // .bodyPage {
  //   padding-top: 3vh;
  //  }
  .domino-nav .nav {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap
  }
  .domino-nav .nav .nav-item {
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto
  }
  .domino-nav .tns-inner .nav-slider {
    -webkit-transform: none!important;
    -ms-transform: none!important;
    transform: none!important
  }
  .domino-nav .container {
    max-width: 100%;
    margin: 0;
    padding: 0
  }
}

@media (max-width:767px) {
  // .bodyPage {
  //   padding-top: 5vh;
  //  }
  .domino-nav {
      top: 60px;
      margin-top: 0
  }
}

@media (min-width:992px){
  // .bodyPage {
  //   padding-top: 4vh;
  //  }
}