@import './../../styles/base/all.setting';
.footer-1 {
    background: -webkit-gradient(linear, left top, right top, from(#012333), to(#074969));
    background: -webkit-linear-gradient(left, #012333, #074969);
    background: -o-linear-gradient(left, #012333, #074969);
    background: linear-gradient(to right, #012333, #074969);
    padding: 2rem 0
}


.footer-1 .ModuleFooter,
.footer-1 .left-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.footer-1 .left-footer .copyright {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}


.footer-1 .right-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

@media (max-width:992px) {
    .footer-1 .right-footer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

@media (max-width:768px) {
    .footer-1 .right-footer {
        display: none
    }
}

.footer-1 .right-footer .hotline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 2.8125rem
}

.footer-1 .right-footer .hotline h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 900;
    font-style: italic;
    margin-right: .625rem;
    text-transform: uppercase
}

.footer-1 .right-footer .hotline h2 span {
    font-weight: 400;
    font-size: 1rem;
    text-transform: none
}

.footer-1 .right-footer .hotline a {
    display: block;
    padding-top: .2rem
}

.footer-1 .hotline-fixed {
    position: fixed;
    right: 30px;
    bottom: 60px;
    width: 60px;
    height: 60px;
    z-index: 99;
    background: #e31837;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    display: none
}

@media (max-width:768px) {
    .footer-1 .hotline-fixed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (max-width:576px) {
    .footer-1 .hotline-fixed {
        width: 45px;
        height: 45px
    }
}

.footer-1 .hotline-fixed span {
    font-size: 1.5rem;
    color: #fff;
    -webkit-animation: phone-ringing 1.5s infinite;
    animation: phone-ringing 1.5s infinite;
    -webkit-animation-iteration-count: infinite
}

@media (max-width:576px) {
    .footer-1 .hotline-fixed span {
        font-size: 1rem
    }
}

.footer-1 .hotline-fixed:after {
    width: 60px;
    height: 60px;
    content: '';
    position: absolute;
    background: #e31837;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: fade-circle 2s infinite;
    animation: fade-circle 2s infinite;
    -webkit-animation-iteration-count: infinite
}

@media (min-width:992px) {
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}


@media (max-width:576px) {
    .huongdan-1 .col-lg-6 {
        padding: 0
    }
}